@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<p>@Model.Message</p>

<b>Paolo Salvatori</b><br/>
   Principal System Engineer<br/>
   Microsoft<br/>
<a href="mailto:paolos@microsoft.com>">paolos@microsoft.com</a>
